.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

rect.Bronze{
  fill: #cc9966;
}

rect.Silver{
  fill: silver;
}

rect.Gold{
  fill: gold;
}

rect.Total{
  fill: rgb(204, 204, 255);
}